<div class="calendar-entry" data-nid="{{ node.nid }}" style="border: 1px solid {{ node_type_config.color }}; color: {{ node_type_config.color }}; {% if not node.status %}background-color: {{ options.bg_color_unpublished_content }};{% endif %}">


  <div class="user-info">
    {% if user_picture %}
      <span class="user-picture"><img src="{{ user_picture }}" alt="{{ node.username }}" /></span>
    {% endif %}
    {#<span class="username">{{ node.username }}</span>#}
  </div>
  <span class="node-type-label">{{ node_type_config.label }}</span>
  <span class="node-title"><a href="{{ path('entity.node.canonical', {'node': node.nid}) }}">{{ node.title }}</a></span>
  <div class="state-and-publication">
    {% if workflow_state %}
      <span class="workflow-state">{{ workflow_state }}</span>
    {% endif %}
    <span class="publish-on">{{ node.publish_on_time }}</span>
  </div>


  <ul class="node-actions">
    <li><a class="node-action node-edit-link" href="{{ path('entity.node.edit_form', {'node': node.nid}) }}?destination={{ path('content_calendar.calendar_redirect', {'month': month, 'year': year}) }}" title="{{ "Edit"|t }}">{{ "Edit"|t }}</a></li>
    <li><a class="node-action node-delete-link" href="{{ path('entity.node.delete_form', {'node': node.nid}) }}?destination={{ path('content_calendar.calendar_redirect', {'month': month, 'year': year}) }}" title="{{ "Delete"|t }}">{{ "Delete"|t }}</a></li>
    <li><a class="node-action node-duplicate-link" href="{{ path('content_calendar.duplicate_node', {'node': node.nid}) }}?destination={{ path('content_calendar.calendar_redirect', {'month': month, 'year': year}) }}" title="{{ "Duplicate"|t }}">{{ "Duplicate"|t }}</a></li>
  </ul>

</div>