{% for user in users %}
  <div class="user">

    <div class="user-image">
      <div class="user-image-placeholder">
        {% if user.image %}<img src="{{ user.image }}" alt="{{ user.name }}" />{% endif %}
      </div>
      </div>


    <div class="user-infos">
      <div class="user-name">{{ user.name }}</div>
      <div class="user-roles">{{ user.roles }}</div>
      <div class="user-content-count">{{ user.content_count }} {{ "Beiträge"|t }} ({{ user.content_draft_count }} in Entwurf, {{ user.content_kalendertag_count }} geplant)</div>
      <div class="user-last-access"></div>
    </div>
  </div>
{% endfor %}